.lang-list{
   margin: 0; padding: 0;

   li{
      display: inline;

      &:after{
         content: ', ';
      }
      &:last-child:after{
         content: none;
      }
   }

   strong{
      font-size: 14px;
   }
}