.panel{
  background: $white;
}
.panel-body{
  @apply p-10;
}
.single-title{
    @apply flex items-center;
    border-bottom: 1px solid $border-color;

    img{
      height: 75px;
      width: auto;
      margin-right: 25px;
    }
    
    h1{
      font-size: 30px;
      margin-bottom: 5px;
    }
}

.surroundings{
  border: 1px solid red;
  font-size: 14px;

  span{
    &:after             {content: ', ';}
    &:last-child:after  {content: none;}
  }
  a{
    color: $primary-color;
    &:hover   {color: $secondary-color;}
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

#regions_div{
  @apply w-1/2;
}