/* ==========================================================================
   #TABLES
   ========================================================================== */
table {
  width: 100%;
  background: $white;

  &.half{
    width: 50%;
  }
}
.left-td td:first-child{
  font-weight: 700;
}
thead{
  th{
    padding: 10px 5px;
  }
}

tbody{
  tr{
    background: $white;

    &:hover{
      background: $tertiary-color;
    }
    border-top: 1px solid $border-color;
  }
  td{
    padding: 5px;
  }
}