/* ==========================================================================
   #TABLES
   ========================================================================== */
table {
  @apply w-full;
  background: $white;

  &.half  {@apply w-1/2;}
}

.left-td td:first-child{
  @apply font-bold;
  min-width: 140px;
}

thead{
  th  {@apply py-4 px-2;}
}

tbody{
  tr{
    background: $white;

    &:hover{
      background: $tertiary-color;
    }
    border-top: 1px solid $border-color;
  }
  td  {@apply p-2;}
}
