/* ==========================================================================
   #TABLES
   ========================================================================== */
table {
  width: 100%;
  background: $white;

  &.half{
    width: 50%;
  }
}

.left-td td:first-child{
  font-weight: 700;
}

thead{
  th{
    @apply py-4 px-2;
  }
}

tbody{
  tr{
    background: $white;

    &:hover{
      background: $tertiary-color;
    }
    border-top: 1px solid $border-color;
  }
  td{
    @apply p-2;
  }
}