/* ==========================================================================
   TYPOGRAPHY css
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1 ;
	font-weight: bold;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

h1 { 
	font-size: 38px;
}

h2 {

	&.subtitle{
		color: $text-color;
		font-size: 16px;
		font-weight: 400;
	}
}

h3, dt {
	margin: 0 0 1em 0;
}

h4 {
	font-size: 16px;
	margin: 0 0 1em 0;
}

ol, ul {
	margin: 0 0 1.5em 0;
	padding: 0 0 0 1em;
}

em, i, q 	{ font-style: italic; }

p {
	margin: 0 0 1.5em 0;
	//max-width: $max-text-width;
}

.note,
figcaption,
figcaption p {
	text-align: right;
	color: rgba($text-color, .5);
	font-style: italic;
}

hr {
	
}

