header{
   @apply flex items-center;
   background: $white;
   height: 50px;
   overflow: hidden;

   .back-button{
      border-right: 1px solid $border-color;
      height: 50px; width: 50px;
      position: relative;
      display: block;
      overflow: hidden;
      transition: all .3s ease;
      left: -50px;

      &.active{
         left: 0;
      }

      span{
         display: block;
         position: absolute;
         border-left: 3px solid $primary-color;
         border-bottom: 3px solid $primary-color;
         width: 10px; height: 10px;
         top: 50%; left: 50%;
         transform: translate(-50%,-50%) rotate(45deg);
         transition: all .2s ease;
      }
      &:hover span{
         border-color: $secondary-color;
      }
   }
}

.searchform{
   flex: .3;
   transition: all .3s ease;
   min-width: 250px;

   &.active{
      margin-left: 25px;
   }

   input{
      width: 100%;
      outline: none;
      padding: 5px;
      font-size: 16px;
      position: relative;
      border-bottom: 1px solid transparent;
      transition: border .2s ease;

      &:focus{
         border-color: $secondary-color;
      }
   }
}

a.reset-btn {
   display: inline-block;
   margin-left: 15px;
   font-size: 12px;
   padding: 5px 10px;
   color: $white;
   background: $primary-color;
   transition: background .25s ease, opacity .5s ease;

   &:hover {
      background: lighten($primary-color, 8%);
   }
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
